* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ----shared style----- */

.font-open-sans {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
}

.container {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
}

.btn {
    font-size: 20px;
    font-weight: 600;
    color: #005FAC;
    background-color: white;
    padding: 20px 36px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.about-container,
.motivation-container {
    margin-top: 113px;
}

.heading-section {
    font-size: 40px;
    font: bold;
    margin-bottom: 24px;
}

/* ------shared style end----- */

/* ------header-banner style start------ */
header {
    background: url("../images/banner/banner3.png");
    vertical-align: middle;
    max-height: 808px;
}

header .banner-container {
    padding: 216px 230px 0 845px;
    text-align: end;
}

.banner-content {
    padding-bottom: 150px;
}

.banner-content h2 {
    font-size: 65px;
    font-weight: bold;
    color: white;
    margin-bottom: 24px;
}

.banner-content p {
    font-size: 16px;
    line-height: 26px;
    color: white;
    margin-bottom: 32px;
}

/* ----header banner style end----- */

/* ----main area style start ----- */

/* ----about style start----- */

.about-container {
    display: flex;
    justify-content: space-between;
    gap: 87px;
    align-items: center;
}

.about-container .about-img {
    max-width: 568px;
}

.about-content {
    padding-right: 70px;
}

.about-content .about-bio {
    font-size: 16px;
    line-height: 26px;
    color: #444343;
    margin-bottom: 16px;
}

.about-content .item-text {
    font-size: 16px;
    line-height: 26px;
    color: #444343;
    margin-bottom: 8px;
}

.about-content .item-text .tick-icon {
    margin-right: 6px;
    color: #16D887;
}

/* -----about style  end ---- */

/* -----card style start---- */

#card-section {
    padding-top: 129px;
}

#card-section .heading-section {
    text-align: center;
    margin-bottom: 50px;
}

.card-box {
    display: flex;
    justify-content: space-between;

}

.card {
    text-align: center;
    max-width: 214px;
}

.card img,
h3 {
    margin-bottom: 16px;

}

.card h3 {
    font-size: 22px;
    font-weight: bold;
}

.card p {
    font-size: 25px;
    font-weight: 500;
    color: #737272;
}

/* -----card style end------ */

/* -----motivation section style start---- */

.motivation-container {
    background: url("../images/gradient1.png"), url("../images/watch.png");
    height: 300px;
    align-items: center;
    border-radius: 8px;

}

.motivation-container .motivation-content {
    max-width: 550px;
    padding: 56px 0px 0px 56px;
}

.motivation-container .heading-section {
    color: white;

}

/* -----motivation section style end---- */

/* --------------main area style end------------ */

/* -----footer style start------ */

footer {
    background-color: black;
    color: white;
    padding: 129px 0;
    margin-top: 130px;
}

.footer-container {
    display: flex;
    gap: 331px;
}

.social {
    max-width: 485px;
}

.social h2 {
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 16px;
}

.social p {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 24px;
}

.social a {
    margin-right: 18px;
}

.footer-container form h4 {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 31px;
}

.footer-container form input[type="email"] {
    background-color: black;
    border-radius: 8px;
    border: 1px solid white;
    width: 325px;
    padding: 21px 0 21px 21px;
    margin-bottom: 16px;
}

.footer-container form input::placeholder {
    color: white;
    font-size: 18px;
}

.footer-container form .btn {
    background-color: #005FAC;
    color: white;
}

/* -----footer style start------- */